.form {
    max-width: 385px;
    margin-bottom: 120px;
}

.form__fieldset {
   padding: 0;
   margin: 0;
   border: none;
}

.form__label {
    margin-bottom: 32px;
    padding: 8px;
    display: block;
    border-radius: 4px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__label_type_checkbox {
    display: flex;
    justify-content: center;
}

.form__checkbox {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #2F80ED;
    border-radius: 2px;
    background-image: url(../images/check.svg);
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.form__input {
    display: block;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    height: 60px;
}

.form__input::placeholder {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383
}

.form__button {
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 0.3s ease;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    height: 60px;
    color: white;
    background: #2f80ed;
}

.form__button:hover {
    opacity: 0.7;
}